<app-nav></app-nav>
<div class="container">
    <div class="row">
<div class="card col-md-5" style="width: 18rem;" *ngFor=" let user of users">
  <button class="btn btn-danger" (click)="deleteUser(user.id_user)"> Borrar</button>
    <div class="card-body">
      <h3 class="card-title">  {{user.nombre}}</h3>
      <p class="card-text"> {{user.email}}</p>
      <p class="card-text"> {{user.edad}}</p>
      <p class="card-text"> {{user.telefono}}</p>
      <p class="card-text"> {{user.estado}}</p>
      <a [routerLink]="['/users/',user.id_user]" class="btn btn-primary btn-block">ver más</a>
      <a [routerLink]="['/users/edit/',user.id_user]" class="btn btn-info btn-block">editar</a>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
