<div class="container">

    <div class="row">
<div class="card col-md-10" style="width: 18rem;" >
  <div class="card col-md-4" style="width: 18rem;" *ngFor=" let hotel of hoteles"></div>
    <div class="card-body">
      
      <!-- <h3 class="card-title"> Nombre: {{hotel.HotelName}}</h3>
      <p class="card-text"> Noche: ${{hotel.Precio}}</p>
      <p class="card-text">Categoria: {{hotel.CategoriaDescripcion}}</p>

      <a [routerLink]="['/hoteles/edit/',hotel.id_hotel]" class="btn btn-info ">editar</a> -->
     
    </div>
  </div>
</div>
 
</div>
