<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/hoteles">Hoteles</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/hoteles" routerLinkActive="active">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hoteles/add"  routerLinkActive="active">Formulario</a>
        </li>
       
      </ul>

    </div>
  </nav>
  <div class="jumbotron">
    <h1 class="display-4">Encuentra tu hotel</h1>
    <p class="lead">Te ofrecemos gran variedad de hoteles para ir donde tu quieras.</p>
    <hr class="my-4">
    <p>Conoce Nuestras Habitaciones y Disfruta de un Hospedaje Cómodo y Placentero. ¡Visítanos! El Descanso y la Tranquilidad Están a Tu Alcance en Nuestras Suites.</p>

  </div>
